$mainFont : 'Nanum Gothic', sans-serif;
$mainColor : #312E2F;
$detailColor:#DA513E;

* {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  box-sizing: border-box;
  outline: none;
}

a {
  color: white;
  &:hover {
    color: white;
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}

.main {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 90vw;
  margin-left: 6.2em;

  .text-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
  }

  .chatbot {
    width: 42vw;
  }
}

.intro {
  color: $mainColor;
  width: 40vw;
  font-family: $mainFont;
  font-size: 2.2em;
  line-height: 1.3em;
  letter-spacing: 1px;
  text-align: left;
}

.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: $mainColor;
  text-align: left;
  font-family: $mainFont;
}

.warning {
  background: $detailColor;
  padding: 10px 25px;
  border-radius: 50px;
  color: white;
  width: 10vw;
  font-family: $mainFont;

  &:hover {
    background: white;
    color: $detailColor;
  }
}

.user-info {
  display: flex;
  align-items: center;
}

.account-image {
  width: 10vw;
  margin: 30px
}

form {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  border: 4px dotted rgba(49, 46, 47, 0.27);
  padding-top: 1.6em;
  
  input {
    padding: 10px;
    width: 15vw;
    background: #E5E5E5;
    border-radius: 20px;
    border-color: #16878c;
    border-top-color: #16878c;
    padding-left: 9px;
  }

  .form-error {
    padding-left: 20px;
    padding-top: 10px;
    color: red;
  }
}

.results {
  text-align: center;
}

.chatbot {
  width: 39vw;
}

.avatar {
  margin-right: 20px;
  width: 30px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.drag-n-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: .5 rem;
  height: 80%;
  width: 50vw;
}

#pool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  min-height: 150px;
  max-height: 40vh;
  border: 1px solid #d8d8d8;
  width: 18vw;
}

#filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 12vw;
  border: 1px solid #d8d8d8;
  margin: 20px;
}

.dnd-group {
  align-items: center;
  min-height: 11px;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  height: 45vh;
  width: 100%;
}

.dnd-item {
  border-top: medium solid #d8d8d8;
  border-bottom: medium solid #d8d8d8;
  border-left: medium dotted #d8d8d8;
  border-right: medium dotted #d8d8d8;
  text-align: center;
  padding: 5px;
  margin: 5px;
  max-height: 50px;
  width: 150px;
  background-color: rgb(155, 155, 155);
  color: #ffffff;
  font-size: 16px;
}

.dnd-item * {
  margin: 0;
  text-align: center;
}

.current {
  background-color: #16181d;
}

nav {
  color: $mainColor;
}

.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100vw;
}