$mainColor : #312E2F;
$mainFont : 'Nanum Gothic',
sans-serif;
$detailColor:#DA513E;
*{
  font-family: $mainFont;
}
.App {
  text-align: center;
}


nav {
  min-height: 12vh;
  color: #16878c;
  display: flex;
  justify-content: space-between;
  padding: 5px 150px;
  align-items: center;

  .nav-links {
    width: 24vw;
    display: flex;
    justify-content: flex-end;
  }

  h1 {
    font-size: 20px;
    text-decoration: underline;
    color: #16878c;
  }

  h3 {
    font-size: 15px;

  }

  li, a {
    padding-right: 1.3em;
   color:#16878c ;
   list-style: none;
   text-decoration: none;
   &:hover{
     text-decoration: underline;
     color:$detailColor;
   }
  }
 
}

.App-main {
  min-height: 78vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 150px;
  padding-right: 50px;

  .text-div {
    display: flex;
    flex-direction: column;
  }

  .intro {
    color: $mainColor;
    width: 40vw;
    font-family: $mainFont;
    font-size: 2.2em;
    line-height: 1.3em;
    
    letter-spacing: 1px;
    text-align: left;
  }
  

  button {
    background:$detailColor;
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
    width: 10vw;
    margin-left: -15vw;
    font-family: $mainFont;
    margin-top: 5vh;
   
  }

  button:hover{
    background: white;
    color: $detailColor ;
  }

  p {
    color: $mainColor;
    text-align: left;
    font-family: $mainFont;
   
  }

  .chatbot {
    width: 49vw;
  }
}
.form-login{
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  
}
.field{
  width: 50vw;
  border-radius: 20px;
  color: #0a4e52;
  border-color: #77c1c5;
  border: 2px solid $mainColor;
  .login-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-height: 60vh;
    input{
      height: 4vh;
      margin: 1em;
      width: 30vw;
      background: #E5E5E5;
      border-radius: 20px;
      border-color: #16878c;
      border-top-color: #16878c;
      padding-left: 9px;
    }
    .reg{
      color: $mainColor;
    }
    .register{
      border-radius: 50px;
      padding: 0.4em;
      margin: 1em;
      background-color: $detailColor;
      color: white;
      width: 10vw;
      border-color: $detailColor;
      &:hover{
        background: white;
    color: $detailColor ;
      }
      
    }
  }
}
.user-details{
  display: flex;
  width: 100vw;
  min-height: 78vh;
  align-items: center;
  justify-content: center;
  p{
    padding-left: 2em;
  }
  .filter-container{
    display: flex;
    margin-left: 170px;
    background-color: #97B9AB;
    border-radius: 50px;
    width: 500px;
    height: 470px;
  flex-direction: column;
    align-items: center;
    .filter-user{
      width: 70%;
      padding:1vh;
      margin-top: 2vh;
      border-radius: 50px;
      background: #E5E5E5;
      text-align: center;
    }
  }
  .user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #97B9AB;
    border-radius: 40px;
    width: 300px;
    height: 270px;
    text-align: left;
    color:$mainColor;
  }

}
.logout{
  text-decoration: none;
  color: white;
  width: 5vw;
  background: #DA633E;
  text-align: center;
  height: 3vh;
  border-radius: 50px;
  padding:8px;
  margin-left: 39vw;
  &:hover{
    font-size: 3px; 
    
  }
}

.circle-image{
  width: 120px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #dd7455;
}
.circular-avatar {
  
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-avatar img {
  width: 100%;
  height: auto;
  margin: auto 0;
}

.image-text{
  display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    justify-content: space-between;
}

//registation
form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  input{padding: 1vh;
  margin:1vh;
border-radius: 50px;}
}



